apiVersion: apps/v1
kind: Deployment
metadata:
  name: learnflow-docs
  namespace: learnflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: learnflow-docs
  template:
    metadata:
      labels:
        app: learnflow-docs
    spec:
      containers:
      - name: docs
        image: ashfaq1192/learnflow-docs:v5
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: learnflow-docs
  namespace: learnflow
spec:
  selector:
    app: learnflow-docs
  ports:
  - port: 80
    targetPort: 3000
  type: ClusterIP
