apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-execution-service
  namespace: learnflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: code-execution-service
  template:
    metadata:
      labels:
        app: code-execution-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "code-execution-service"
        dapr.io/app-port: "8000"
    spec:
      containers:
        - name: code-execution-service
          image: ashfaq1192/learnflow-code-execution-service:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: EXEC_TIMEOUT
              value: "10"
            - name: MAX_OUTPUT_SIZE
              value: "10000"
            - name: DAPR_HTTP_PORT
              value: "3500"
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: code-execution-service
  namespace: learnflow
spec:
  selector:
    app: code-execution-service
  ports:
    - port: 80
      targetPort: 8000
