apiVersion: apps/v1
kind: Deployment
metadata:
  name: concepts-service
  namespace: learnflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: concepts-service
  template:
    metadata:
      labels:
        app: concepts-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "concepts-service"
        dapr.io/app-port: "8000"
    spec:
      containers:
        - name: concepts-service
          image: ashfaq1192/learnflow-concepts-service:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: openai-credentials
                  key: OPENAI_API_KEY
            - name: DAPR_HTTP_PORT
              value: "3500"
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: concepts-service
  namespace: learnflow
spec:
  selector:
    app: concepts-service
  ports:
    - port: 80
      targetPort: 8000
